<html>
  <head>
    <title><%= title%></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div>
      <p>Message Id: <%= message.id %></p>
      <p>User: <%=message.user%></p>
      <p>Date: <%=message.added%></p>
      <p>Message: <%=message.text%></p>
    </div>
  </body>
</html>
